## Wygeneruj dataset

In [63]:
import numpy as np
import pandas as pd
from scipy.spatial.distance import cityblock
from itertools import permutations

# Generowanie danych wejściowych
np.random.seed(42)
n_orders = 4
n_trucks = 1
n_stations = 10

# Zamówienia: lokalizacja i waga
df_orders = pd.DataFrame({
    "latitude": np.random.randn(n_orders) * 50,
    "longitude": np.random.randn(n_orders) * 50,
    "mass": np.random.rand(n_orders) * 10
})

# Stacje benzynowe: lokalizacja i cena za litr
df_stations = pd.DataFrame({
    "latitude": np.random.randn(n_stations + 2) * 50,
    "longitude": np.random.randn(n_stations + 2) * 50,
    "price": np.random.rand(n_stations + 2) * 2 + 5
})

# Parametry
fuel_consumption = lambda m: m/100  # Spalanie na 100km w zależności od masy
fuel_tank_capacity = 150  # Pojemność baku
base_location = np.array([0, 0])  # Lokalizacja bazy
# average_speed = 40  # Średnia prędkość w km/h
# driver_hourly_rate = 50  # Godzinna stawka kierowcy

In [96]:
fuel_consumption(150)

1.5

In [98]:
import string

# Generate a list of letters
letter_index = list(string.ascii_uppercase[:len(df_orders)])
df_orders.index = letter_index

# print(df_orders.loc['C'])

df_orders.head()

    latitude  longitude      mass
A  24.835708 -11.707669  0.205845
B  -6.913215 -11.706848  9.699099
C  32.384427  78.960641  8.324426
D  76.151493  38.371736  2.123391

In [100]:
df_orders.loc['A', 'longitude']

-11.707668736166799

In [52]:
df_stations.loc[0] = {'StationID': int(0), 'Latitude': float(0.0), 'Longitude': float(0.0)}
df_stations.loc[1] = {'StationID': 0, 'Latitude': 0.0, 'Longitude': 0.0}

df_stations.head()

    latitude  longitude     price
0        NaN        NaN       NaN
1        NaN        NaN       NaN
2  12.098114 -27.219136  5.517560
3 -95.664012   5.546129  6.325045
4 -86.245892 -57.549679  5.623422

## Generate starting population

In [53]:
import random
original_list = df_orders.index.tolist()
population = []

population_size = 10

for i in range(population_size):
    sample = [0]
    random_permutation = random.sample(original_list, len(original_list))
    
    for i in range(len(random_permutation)):
        
        sample.append(random_permutation[i])
        
        if random.randint(0, 1) == 1:
            station_ID = random.randint(1, n_stations-1)
        else:
            station_ID = 1
    
        sample.append(station_ID)
    # print(sample)
    sample.append(0)
    population.append(sample)
    
for i in population:
    print(i)

[0, 'C', 1, 'B', 9, 'A', 6, 'D', 3, 0]
[0, 'D', 1, 'B', 3, 'C', 1, 'A', 1, 0]
[0, 'C', 1, 'B', 1, 'A', 1, 'D', 1, 0]
[0, 'D', 1, 'C', 1, 'B', 1, 'A', 7, 0]
[0, 'B', 2, 'C', 6, 'A', 9, 'D', 1, 0]
[0, 'C', 1, 'D', 1, 'B', 8, 'A', 1, 0]
[0, 'D', 9, 'A', 1, 'C', 1, 'B', 1, 0]
[0, 'C', 4, 'A', 6, 'D', 1, 'B', 1, 0]
[0, 'B', 7, 'D', 8, 'A', 1, 'C', 2, 0]
[0, 'A', 2, 'C', 1, 'D', 1, 'B', 1, 0]

In [107]:
# Mini przykład
a = 'A'
b = 3
current_mass = 0
fuel_level = 150

def evaluate_step(a, b, current_mass, fuel_level):

    fuel_penalty = 1000
    
    step_cost = 0
    
    if isinstance(a, str):
        print("z miasta na stację - dojeżdżam na stację")        
        
        distance = (abs(df_orders.loc[a, 'longitude'] - df_stations.loc[b, 'longitude']) + 
                    abs(df_orders.loc[a, 'latitude'] - df_stations.loc[b, 'latitude']))
        print(distance)

    fuel_level = fuel_level - distance * fuel_consumption(current_mass)

    else:
        print("ze stacji do miasta")


    
evaluate_step(a, b, current_mass, fuel_level)

z miasta na stację - dojeżdżam na stację
137.75351810511162